body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* @import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
ul{
  list-style:none;
}

.content-left-filter{
  margin:20px;
  padding: 10px;
  min-height: 700px;
  overflow-y: auto;
  border: 1px #ccc solid;
}

.title{
  width:100%;
  border: 1px white solid;
  height: 150px;
  background: rgb(0, 113, 197);
  color: white;
}

.title-container{
  text-align: center;
}

.title-container-search{
  width: 50% !important;
}

.one{
  border-bottom: 1px white solid;
}

.two{
  display: flex;
  align-items: center;
  justify-content: center;
}

.conten-candidate-nav{
  width: 100%;
  height: 100px;
}

.conten-candidate-nav li{
  width: 24%;
  border: 1px #ccc solid;
  text-align: center;
  float: left;
  box-sizing: border-box;
  /* color: #000000; */
}

.conten-candidate-nav li button{
  width: 100%;
  border:none;
  cursor: pointer;
  background-color: #ffffff;
}

.active{
  color: rgb(0, 113, 197) !important;
  border-bottom:2px rgb(0, 113, 197) solid !important;
}

.nav-link:hover{
  color: rgb(0, 113, 197);
}

.nav-link:focus{
  outline:0;
} 

.content-list-scroll {
  height:570px;
  overflow-y: auto;
  border: 1px #ccc solid;
}

.pswp__preloader__icn {
  opacity:0.75;
  width: 24px;
  height: 24px;
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}
 
/* The idea of animating inner circle is based on Polymer loading indicator by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html */
.pswp__preloader__cut {
  position: relative;
  width: 12px;
  height: 24px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
 
.pswp__preloader__donut {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid #000;
   border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin:0;
   -webkit-animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
}
 
@-webkit-keyframes clockwise {
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}

@keyframes clockwise {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@-webkit-keyframes donut-rotate {
  0% { -webkit-transform: rotate(0) }
  50% { -webkit-transform: rotate(-140deg) }
  100% { -webkit-transform: rotate(0) }
}

@keyframes donut-rotate {
  0% { transform: rotate(0) }
  50% { transform: rotate(-140deg) }
  100% { transform: rotate(0) }
}

